image: python:3.8

stages:
  - test

before_script:
  - apt-get update 
  - apt-get upgrade -y
  - mkdir /src
  - cd /src
  - apt-get install -y wget
  - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  - apt-get install gdebi-core -y
  - gdebi --n google-chrome-stable_current_amd64.deb
  - git clone https://gitlab.roshan-ai.ir/shahrad-kh/news_site.git
  - cd news_site
  - pip install -r requirements.txt

test-project:
  stage: test
  script:
    - python manage.py test
    - cd scrape
    - python scrape.py