image: python:3.8

stages:
  - test


test-project:
  stage: test
  script:
    - mkdir /src
    - cd /src
    - git clone https://gitlab.roshan-ai.ir/shahrad-kh/news_site.git
    - cd news_site
    - python manage.py test