image: python:3.9

stages:
  - deploy


deploy-project:
  stage: deploy
  script:
    - mkdir /src
    - cd /src
    - git clone https://gitlab.roshan-ai.ir/shahrad-kh/news_site.git
    - cd news_site
    - docker-compose up --build -d