default:
  image: docker

services:
  - docker:dind

stages:
  - deploy

before_script:
  - apk add --no-cache git
  - mkdir src
  - cd src
  - git clone https://gitlab.roshan-ai.ir/shahrad-kh/news_site.git
  - cd news_site

deploy-project:
  stage: deploy
  script:
    - docker-compose up --build -d

after_script:
  - docker-compose down
