version: '3.7'

services:
  elasticsearch:
    image: elasticsearch:7.17.10
    container_name: elasticsearch
    volumes:
      - ./data/elastic:/var/lib/elasticsearch/data
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
      - "9300:9300"
    networks:
      - main
    restart: always
  
  # celery:
  #   build: .
  #   container_name: celery
  #   command: >
  #     sh -c "export PYTHONPATH=$PYTHONPATH:${PWD} &&
  #            cd news &&
  #            apt-get update &&
  #            apt-get upgrade -y &&
  #            apt-get install -y wget &&
  #            apt-get install gdebi-core -y &&
  #            wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb &&
  #            gdebi --n google-chrome-stable_current_amd64.deb &&
  #            celery -A tasks beat -l info &&
  #            celery -A tasks worker -l info"
  #   links:
  #     - redis
  #   networks:
  #     - main
  #   depends_on:
  #     - redis
  #     - app
  #     - elasticsearch
  #   restart: always

  # redis:
  #   image: redis:latest
  #   container_name: redis
  #   ports:
  #     - "6379:6379"
  #   networks:
  #     - main
  #   restart: always

  app:
    build: .
    command: >
      sh -c "export PYTHONPATH=$PYTHONPATH:${PWD} &&
             python manage.py migrate &&
             python manage.py search_index --create -f &&
             python manage.py search_index --populate -f &&
             apt-get update &&
             apt-get upgrade -y &&
             apt-get install -y wget &&
             apt-get install gdebi-core -y &&
             wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb &&
             gdebi --n google-chrome-stable_current_amd64.deb &&
             python scrape/old_news.py &&
             gunicorn config.wsgi -b 0.0.0.0:8000"
    container_name: app
    volumes:
      - .:/code/
    ports:
      - "8000:8000"
    networks:
      - main
    # links:
    #   - redis
    depends_on:
      - elasticsearch
    restart: always

  nginx:
    container_name: nginx
    command: nginx -g "daemon off;"
    image: nginx:latest
    depends_on:
      - app
    networks:
      - main
    ports:
      - "8080:80"
    restart: always
    volumes:
      - ./nginx.conf:/nginx/nginx.conf

networks:
  main: