name: Docker Image CI

on:
  [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          
      - name: Set version
        id: version
        run: echo "VERSION=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV

      - name: Build the Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: news-site:${{ env.VERSION }}
       
      - name: Push the Docker image
        run: |
          docker tag news-site:${{ env.VERSION }} ${{ secrets.DOCKER_HUB_USERNAME }}/news-site:${{ env.VERSION }}
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/news-site:${{ env.VERSION }}
